* {
    box-sizing: border-box;
  }

  :root {
    --background-color: rgb(0, 0, 0);
    --window-color: rgb(255, 255, 255);
    --text-color: rgb(255, 255, 255);
  }

  .light-theme {
    --background-color: rgb(255, 255, 255);
    --window-color: rgb(0, 0, 0);
    --text-color: rgb(0, 0, 0);
  }

  .dark-theme body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .window__title{
    color: var(--background-color);
  }
  .options, .question{
    color: var(--background-color);
  }
  body {
    font-family: 'San Francisco', sans-serif;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .timer{
    color: var(--background-color);
    margin-bottom: 10px;
    text-align: center;
  }
  .window {
    width: 500px;
  height: 500px;
  border-radius: 30px;
  background-color: var(--window-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  }
  .option{
    border: 3px solid var(--background-color);
    border-radius: 50px;
    text-align: center;
    margin: 10px 0;

  }
  .options{
    margin-bottom: 20px;
  }
  .window__btn,
  .next-btn,
  .restart-btn {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 auto;
  }

  h1,
  p {
    text-align: center;
  }
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: var(--background-color);
    border: 1px solid white;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .progress-bar::-webkit-progress-value {
    background: linear-gradient(to right, var(--background-color), var(--background-color));
    transition: width 0.5s;
  }
  
  .theme-toggle-button{
    position: absolute; 
  top: 10px; 
  right: 10px; 
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  }

  .progress-bar::-moz-progress-bar {
    background: linear-gradient(to right, white, black);
    transition: width 0.5s;
  }