*{
    box-sizing: border-box;
}

body {
    font-family: 'San Francisco', sans-serif;
    background: rgb(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.window{
    width: 500px;
    height: 500px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window__btn, .next-btn, .restart-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 auto;
}
h1, p{
    text-align: center;
}